body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4c4c4e;
  color: #fff;
}

.shape {
  width: 800px;
  height: 800px;
  background-color: #black;
  display: relative;
}

.blue {
  display: absolute;
	width: 300px;
	height: 80px;
	background: #246791;
}

.pink {
  display: absolute;
	width: 300px;
	height: 80px;
	background: #ff6666;
}

.white {
  display: absolute;
	width: 300px;
	height: 80px;
	background: #fff;
}

.neg-30 {
  transform: rotate(-60deg) skew(-60deg);
}

.neg-60 {

}

.neg-90 {

}

.pos-30 {
  transform: rotate(60deg) skew(60deg);
}

.pos-60 {

}

.pos-90 {

}

.align-1 {
  float: right;
}

.align-2 {
  position: ;
}
