main {
  width: 100vw;
  color: #e3e800;
  font-family: 'futura', sans-serif;
  font-weight: lighter;
  display: flex;
}

.poster {
  width: 50vw;
  height: 100vh;
  background-color: #1268b5;
  border-right: 10px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.superman {
  background-color: #1268b5;
  border-right: 20px solid #fff;
}

.pulp-fiction {
  background-color: #d02c23;
}

.text {
  margin-top: 120px;
}

.line {
  width: 20px;
  height: 400px;
}

.superman .line {
  background: linear-gradient(rgba(255, 0, 0, 1), rgba(255, 0, 0, 0));
  transform: rotate(45deg);
}

.pulp-fiction .line {
  background-color: #fff;
}

p {
  width: 200px;
  font-size: .8em;
  text-transform: capitalize;
  line-height: 30%;
}
